* {
  font-family: "Mona Sans", serif;
  letter-spacing: -0.3px !important;
}

.container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.container img {
  width: 80px;
  margin-bottom: 20px;
}

.container h1,
h3 {
  margin: 0px !important;
}

.container h3 {
  margin-top: 10px;
  font-weight: 500;
  color: #8f8f8f;
}

input {
  margin-top: 30px;
  padding: 20px 25px;
  border-radius: 16px;
  outline: none;
  border: none;
  background-color: #f7f7f7;
  font-size: 15px;
  width: -webkit-fill-available;
}

button {
  padding: 18px 25px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 15px;
  border-radius: 16px;
  font-weight: 600;
  font-size: 15px;
}

.playerTitle {
  font-weight: 600;
  color: #494949;
  margin-top: 0px !important;
  margin-bottom: 2px !important;
  font-size: 26px;
}

.subtitlePlayer {
  color: #898989;
  font-weight: 400;
  margin: 0px !important;
  margin-bottom: 30px !important;
}

.players-container {
  margin-top: 20px;
}

.player-card {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px;
  display: inline-block;
  text-align: left;
}

.qr-scanner {
  width: 250px;
  margin: 10px auto;
}

.qr-results {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.qr-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.qr-item p {
  font-size: 14px;
  color: #333;
}

.container {
  text-align: center;
  padding: 20px;
}

.player-scanner {
  margin-top: 20px;
}

.scan-step {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scan-step video {
  width: 80% !important;
  border-radius: 30px;
}

#qr-scanner-step-1,
#qr-scanner-step-2,
#qr-scanner-step-3,
#qr-scanner-step-4 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* Estilos generales para el título del paso */
.step-title {
  margin-bottom: 10px !important;
  padding: 15px 30px;
  font-size: 14px;
  border-radius: 32px;
  font-weight: 600 !important;
  letter-spacing: -0.3px;
  margin-bottom: 20px !important;
}

/* Estilos para el paso 1: Carta de contexto */
.step-1 {
  color: #f95db7 !important;
  background-color: #fff1f9;
}

/* Estilos para el paso 2: Carta de problema */
.step-2 {
  color: #0095ff !important;
  background-color: #d7eefe;
}

/* Estilos para el paso 3: Carta de solución */
.step-3 {
  color: #78bd47 !important;
  background-color: #eaf8e0;
}

/* Estilos para el paso 4: Carta de insight */
.step-4 {
  color: #ff773f !important;
  background-color: #fff3ee;
}

.retry {
  padding: 18px 25px;
  background: none !important;
  color: #007bff;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 16px;
  font-weight: 600;
  font-size: 15px;
  margin: 0px !important;
}
